openapi: 3.0.0
info:
  title: Comdesk Lead Open API (EN)
  description: 'Open API for external CRM integration (Salesforce, HubSpot, etc.).


    Authentication uses an API key via the `Authorization: Bearer <api_key>` header.


    API keys can be issued from the tenant management page.


    ---

    🇯🇵 [日本語版 → /api/docs](/api/docs)'
  contact:
    name: Comdesk Developer Support
    email: dev@comdesk.com
  version: 1.0.0
servers:
- url: https://xxxx.comdesk.com
  description: Your tenant domain (replace xxxx with your subdomain)
paths:
  /api/v1/calls:
    get:
      tags:
      - Calls
      summary: List call history
      description: Returns call history with filters and pagination. Date range maximum is 31 days. Requires scope `calls:read`.
      operationId: callsList
      parameters:
      - name: from
        in: query
        description: Start date (YYYY-MM-DD). Maximum 180 days ago.
        required: true
        schema:
          type: string
          format: date
          example: '2026-03-01'
      - name: to
        in: query
        description: End date (YYYY-MM-DD). Maximum 31 days from 'from'.
        required: true
        schema:
          type: string
          format: date
          example: '2026-03-31'
      - name: project_id
        in: query
        description: Filter by project ID
        required: false
        schema:
          type: integer
      - name: staff_id
        in: query
        description: Filter by staff ID
        required: false
        schema:
          type: integer
      - name: call_type
        in: query
        description: Filter by call type
        required: false
        schema:
          type: string
          enum:
          - outbound
          - inbound
      - name: status
        in: query
        description: Filter by status (comma-separated)
        required: false
        schema:
          type: string
          example: connected,no_answer
      - name: phone_number
        in: query
        description: Partial match on phone number
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 50
          maximum: 200
      - name: sort
        in: query
        required: false
        schema:
          type: string
          default: started_at
          enum:
          - started_at
          - duration
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Call history list
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CallHistoryItem'
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope calls:read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Date range exceeds 31 days or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      x-acceptance-criteria:
      - ✅ Client can retrieve call history with date-range filter (from, to), project, staff, and status
      - ❌ Date range is at most 31 days per request; exceeding returns HTTP 422
      - ✅ Supports pagination (page, per_page max 200)
      - ✅ Response includes transcription, summary, speech_analysis, recording_url, and external_id
      - 🔒 Requires scope calls:read
  /api/v1/calls/{callId}:
    get:
      tags:
      - Calls
      summary: Get call detail
      description: Returns detailed information for a single call including transcription, summary, and speech analysis. Requires scope `calls:read`.
      operationId: callsDetail
      parameters:
      - name: callId
        in: path
        description: Call ID
        required: true
        schema:
          type: integer
          example: 12345
      responses:
        '200':
          description: Call detail
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/CallHistoryItem'
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope calls:read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Call not found in this tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      x-acceptance-criteria:
      - ✅ Client can retrieve full detail of a single call by callId
      - ✅ Response includes all fields including transcription, summary, and speech_analysis
      - ❌ Returns HTTP 404 when callId is not found within the same tenant
      - 🔒 Requires scope calls:read
  /api/v1/customers:
    get:
      tags:
      - Customers
      summary: List customers
      description: Returns a paginated customer list with optional filters. Requires scope `customers:read`.
      operationId: customersList
      parameters:
      - name: project_id
        in: query
        description: Filter by project ID (required)
        required: true
        schema:
          type: integer
      - name: external_id
        in: query
        description: Exact match on the external system ID (returns 0 or 1 record)
        required: false
        schema:
          type: string
          maxLength: 255
      - name: search
        in: query
        description: Partial match on name or phone number
        required: false
        schema:
          type: string
          maxLength: 255
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - name
          - created_at
          - updated_at
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 50
          maximum: 100
      responses:
        '200':
          description: Customer list
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      properties:
                        customer_id:
                          type: integer
                          example: 78901
                        external_id:
                          type: string
                          example: CRM-LEAD-001
                          nullable: true
                        name:
                          type: string
                          example: Test Corporation
                        tel1:
                          type: string
                          example: 0312345678
                        project_id:
                          type: integer
                          example: 456
                      type: object
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope customers:read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Customers
      summary: Create customer
      description: Registers a new customer. Use `external_id` to link with CRM records. Requires scope `customers:write`.
      operationId: customersCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - project_id
              - name
              properties:
                project_id:
                  type: integer
                  example: 456
                external_id:
                  type: string
                  example: CRM-LEAD-001
                  nullable: true
                  maxLength: 255
                name:
                  type: string
                  example: Test Corporation
                  maxLength: 255
                name_kana:
                  type: string
                  example: Tesuto Kabushiki Kaisha
                  nullable: true
                  maxLength: 255
                tel1:
                  description: E.164 (+819012345678) or a domestic number starting with 0 (0312345678); hyphens allowed as separators. Any other format is rejected with 422.
                  type: string
                  pattern: ^(?:\+[1-9](?:[- ]?\d){7,14}|0(?:[- ]?\d){9,10})$
                  example: 0312345678
                  nullable: true
                  maxLength: 30
                tel2:
                  description: Same format rules as tel1.
                  type: string
                  pattern: ^(?:\+[1-9](?:[- ]?\d){7,14}|0(?:[- ]?\d){9,10})$
                  example: 09012345678
                  nullable: true
                  maxLength: 30
                prefecture:
                  type: string
                  example: Tokyo
                  nullable: true
                address1:
                  type: string
                  example: 1-1-1 Shibuya, Shibuya-ku
                  nullable: true
                industry:
                  type: string
                  example: IT
                  nullable: true
                employee_scale:
                  type: string
                  example: 100-299
                  nullable: true
                custom_fields:
                  type: object
                  example:
                    field_1: custom value
                  nullable: true
              type: object
      responses:
        '201':
          description: Customer created successfully
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      customer_id:
                        type: integer
                        example: 78901
                      external_id:
                        type: string
                        example: CRM-LEAD-001
                        nullable: true
                      name:
                        type: string
                        example: Test Corporation
                      project_id:
                        type: integer
                        example: 456
                      created_at:
                        type: string
                        format: date-time
                    type: object
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope customers:write
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Duplicate external_id within the same project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      x-acceptance-criteria:
      - ✅ Client can register a new customer with external_id for CRM correlation
      - ✅ Response 201 contains customer_id that can be stored in the CRM for subsequent requests
      - ❌ Request with duplicate external_id (within the same project) returns HTTP 409
      - 🔒 Requires scope customers:write
  /api/v1/customers/bulk:
    post:
      tags:
      - Customers
      summary: Bulk create customers (asynchronous)
      description: Queues up to 500 customers for registration and returns immediately with a `batch_id`. The records are **not** created before the response is sent — poll `GET /api/v1/customers/bulk/{batch_id}` for the per-record outcome. Requires scope `customers:write`.
      operationId: customersBulkCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - customers
              properties:
                customers:
                  type: array
                  items:
                    required:
                    - project_id
                    - name
                    properties:
                      project_id:
                        type: integer
                        example: 456
                      external_id:
                        type: string
                        nullable: true
                        maxLength: 255
                      name:
                        type: string
                        example: Test Corporation
                        maxLength: 255
                      tel1:
                        description: E.164 or a domestic number starting with 0; hyphens allowed as separators. A malformed number rejects the whole batch with 422.
                        type: string
                        pattern: ^(?:\+[1-9](?:[- ]?\d){7,14}|0(?:[- ]?\d){9,10})$
                        example: 0312345678
                        nullable: true
                        maxLength: 30
                      tel2:
                        description: Same format rules as tel1.
                        type: string
                        pattern: ^(?:\+[1-9](?:[- ]?\d){7,14}|0(?:[- ]?\d){9,10})$
                        example: 09012345678
                        nullable: true
                        maxLength: 30
                    type: object
                  maxItems: 500
              type: object
      responses:
        '202':
          description: Batch accepted and queued. No customer has been created yet.
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      batch_id:
                        description: Use this to poll GET /api/v1/customers/bulk/{batch_id}
                        type: string
                        format: uuid
                        example: b3f1c2a0-9d7e-4c11-88a2-1f0b5c6de9d4
                      status:
                        type: string
                        example: pending
                        enum:
                        - pending
                      total:
                        description: Number of records accepted for processing
                        type: integer
                        example: 100
                    type: object
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope customers:write
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Empty array or exceeds 500 records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
  /api/v1/customers/bulk/{batch_id}:
    get:
      tags:
      - Customers
      summary: Get bulk create status
      description: Returns the progress and per-record outcome of a batch submitted via `POST /api/v1/customers/bulk`. Poll every few seconds; roughly 80ms per record is a reasonable expectation. Requires scope `customers:write`.
      operationId: customersBulkStatus
      parameters:
      - name: batch_id
        in: path
        description: The batch_id returned by POST /api/v1/customers/bulk
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Batch status
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      batch_id:
                        type: string
                        format: uuid
                        example: b3f1c2a0-9d7e-4c11-88a2-1f0b5c6de9d4
                      status:
                        description: '`pending` (queued, not started) → `processing` → `completed` / `failed`. A batch left `pending` beyond the configured wait is reported as `failed` with a `failure_reason`, so polling always reaches a terminal state.'
                        type: string
                        example: completed
                        enum:
                        - pending
                        - processing
                        - completed
                        - failed
                      total:
                        description: Total number of records submitted
                        type: integer
                        example: 100
                      succeeded:
                        type: integer
                        example: 97
                      failed:
                        type: integer
                        example: 3
                      results:
                        description: One entry per successfully created record. Empty until the batch completes.
                        type: array
                        items:
                          properties:
                            index:
                              description: Index of the record in the submitted customers array
                              type: integer
                              example: 0
                            status:
                              type: string
                              example: created
                            customer_id:
                              type: integer
                              example: 78901
                            external_id:
                              type: string
                              example: CRM-LEAD-001
                              nullable: true
                          type: object
                      errors:
                        description: One entry per record that failed to create. Empty until the batch completes.
                        type: array
                        items:
                          properties:
                            index:
                              description: Index of the record in the submitted customers array
                              type: integer
                              example: 1
                            code:
                              type: string
                              example: duplicate_external_id
                            message:
                              type: string
                              example: Duplicate external_id within the same project.
                          type: object
                      failure_reason:
                        description: Why the batch failed. Set only when `status` is `failed`; null otherwise.
                        type: string
                        example: Queue worker did not start this batch within 15 minutes. The openapi queue is not being consumed on this environment; the records were not created. Re-submit the batch once the worker is running.
                        nullable: true
                      created_at:
                        type: string
                        format: date-time
                        example: '2026-08-11T18:47:14+09:00'
                      started_at:
                        type: string
                        format: date-time
                        example: '2026-08-11T18:47:15+09:00'
                        nullable: true
                      completed_at:
                        type: string
                        format: date-time
                        example: '2026-08-11T18:47:53+09:00'
                        nullable: true
                    type: object
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope customers:write
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Batch not found, or it belongs to another tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
  /api/v1/customers/{customerId}:
    get:
      tags:
      - Customers
      summary: Get customer detail
      description: Returns detailed information for a single customer. Requires scope `customers:read`.
      operationId: customersShow
      parameters:
      - name: customerId
        in: path
        description: Customer ID
        required: true
        schema:
          type: integer
          example: 78901
      responses:
        '200':
          description: Customer detail
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      customer_id:
                        type: integer
                        example: 78901
                      external_id:
                        type: string
                        nullable: true
                      name:
                        type: string
                        example: Test Corporation
                      name_kana:
                        type: string
                        nullable: true
                      tel1:
                        type: string
                        example: 0312345678
                      tel2:
                        type: string
                        nullable: true
                      prefecture:
                        type: string
                        nullable: true
                      address1:
                        type: string
                        nullable: true
                      industry:
                        type: string
                        nullable: true
                      employee_scale:
                        type: string
                        nullable: true
                      custom_fields:
                        type: object
                        nullable: true
                      project_id:
                        type: integer
                        example: 456
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
                    type: object
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope customers:read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Customers
      summary: Update customer
      description: Updates an existing customer. Omitted fields are not changed. Requires scope `customers:write`.
      operationId: customersUpdate
      parameters:
      - name: customerId
        in: path
        description: Customer ID
        required: true
        schema:
          type: integer
          example: 78901
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  example: Test Corporation (updated)
                  nullable: true
                name_kana:
                  type: string
                  nullable: true
                tel1:
                  description: E.164 or a domestic number starting with 0; hyphens allowed as separators. Any other format is rejected with 422. Send null to clear the field.
                  type: string
                  pattern: ^(?:\+[1-9](?:[- ]?\d){7,14}|0(?:[- ]?\d){9,10})$
                  example: 0312345679
                  nullable: true
                  maxLength: 30
                tel2:
                  description: Same format rules as tel1.
                  type: string
                  pattern: ^(?:\+[1-9](?:[- ]?\d){7,14}|0(?:[- ]?\d){9,10})$
                  nullable: true
                  maxLength: 30
                prefecture:
                  type: string
                  nullable: true
                address1:
                  type: string
                  nullable: true
                industry:
                  type: string
                  nullable: true
                employee_scale:
                  type: string
                  nullable: true
                custom_fields:
                  type: object
                  nullable: true
              type: object
      responses:
        '200':
          description: Customer updated successfully
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      customer_id:
                        type: integer
                        example: 78901
                      name:
                        type: string
                        example: Test Corporation (updated)
                      updated_at:
                        type: string
                        format: date-time
                    type: object
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope customers:write
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
  /api/v1/reports/summary:
    get:
      tags:
      - Reports
      summary: Get call statistics summary
      description: Returns aggregated call statistics for a given period. Maximum 31 days, maximum 180 days ago. Requires scope `reports:read` and license `open_api_advanced`.
      operationId: reportsSummary
      parameters:
      - name: from
        in: query
        description: Start date (YYYY-MM-DD)
        required: true
        schema:
          type: string
          format: date
          example: '2026-05-01'
      - name: to
        in: query
        description: End date (YYYY-MM-DD)
        required: true
        schema:
          type: string
          format: date
          example: '2026-05-14'
      - name: project_id
        in: query
        description: Filter by project ID
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Aggregated statistics
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      from:
                        type: string
                        format: date
                        example: '2026-05-01'
                      to:
                        type: string
                        format: date
                        example: '2026-05-14'
                      total_calls:
                        type: integer
                        example: 1250
                      total_out_calls:
                        type: integer
                        example: 980
                      total_out_connected:
                        type: integer
                        example: 412
                      total_in_calls:
                        type: integer
                        example: 270
                      total_in_connected:
                        type: integer
                        example: 198
                      connection_rate:
                        description: Outbound connection rate (%)
                        type: number
                        format: float
                        example: 42.04
                      total_duration_seconds:
                        type: integer
                        example: 183600
                      total_mybox:
                        type: integer
                        example: 87
                      total_appoints:
                        type: integer
                        example: 34
                    type: object
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope reports:read or license open_api_advanced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Date range exceeds 31 days, from is more than 180 days ago, or invalid params
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
  /api/v1/reports/calls:
    get:
      tags:
      - Reports
      summary: Get call breakdown report
      description: Returns per-staff or per-project call breakdown data. Requires scope `reports:read` and license `open_api_advanced`.
      operationId: reportsCalls
      parameters:
      - name: from
        in: query
        description: Start date (YYYY-MM-DD)
        required: true
        schema:
          type: string
          format: date
          example: '2026-05-01'
      - name: to
        in: query
        description: End date (YYYY-MM-DD)
        required: true
        schema:
          type: string
          format: date
          example: '2026-05-14'
      - name: project_id
        in: query
        description: Filter by project ID
        required: false
        schema:
          type: integer
      - name: staff_id
        in: query
        description: Filter by staff ID
        required: false
        schema:
          type: integer
      - name: group_by
        in: query
        description: Aggregation unit. `staff` returns staff_id/staff_name per record, `project` returns project_id/project_name, `day`/`week` return period_start/period_end.
        required: false
        schema:
          type: string
          default: staff
          enum:
          - staff
          - project
          - day
          - week
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 50
          maximum: 200
      responses:
        '200':
          description: Call breakdown report
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope reports:read or license open_api_advanced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Date range exceeds 31 days or invalid params
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
  /api/v1/reports/users:
    get:
      tags:
      - Reports
      summary: Get per-user performance report
      description: Returns call performance metrics per staff member. Requires scope `reports:read` and license `open_api_advanced`.
      operationId: reportsUsers
      parameters:
      - name: from
        in: query
        description: Start date (YYYY-MM-DD)
        required: true
        schema:
          type: string
          format: date
          example: '2026-05-01'
      - name: to
        in: query
        description: End date (YYYY-MM-DD)
        required: true
        schema:
          type: string
          format: date
          example: '2026-05-14'
      - name: project_id
        in: query
        description: Filter by project ID
        required: false
        schema:
          type: integer
      - name: sort
        in: query
        description: Sort key
        required: false
        schema:
          type: string
          default: total_out_calls
          enum:
          - total_out_calls
          - total_in_calls
          - total_out_connected
          - connection_rate
          - total_duration_seconds
      - name: order
        in: query
        required: false
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 50
          maximum: 100
      responses:
        '200':
          description: Per-user report
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      properties:
                        staff_id:
                          type: integer
                          example: 123
                        staff_name:
                          description: null when the staff has been deleted
                          type: string
                          example: Tanaka Taro
                          nullable: true
                        total_out_calls:
                          type: integer
                          example: 70
                        total_out_connected:
                          type: integer
                          example: 26
                        total_in_calls:
                          type: integer
                          example: 15
                        total_in_connected:
                          type: integer
                          example: 6
                        total_calls:
                          description: total_out_calls + total_in_calls
                          type: integer
                          example: 85
                        connected_calls:
                          description: total_out_connected + total_in_connected
                          type: integer
                          example: 32
                        connection_rate:
                          description: Outbound connection rate (%) = total_out_connected / total_out_calls
                          type: number
                          format: float
                          example: 37.14
                        total_duration_seconds:
                          type: integer
                          example: 12600
                        avg_duration_seconds:
                          description: total_duration_seconds / total_calls, rounded
                          type: integer
                          example: 148
                        total_mybox:
                          type: integer
                          example: 9
                        total_appoints:
                          type: integer
                          example: 4
                      type: object
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope reports:read or license open_api_advanced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Date range exceeds 31 days or invalid params
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
  /api/v1/webhooks:
    get:
      tags:
      - Webhooks
      summary: List webhooks
      description: Returns all registered webhooks. Requires scope `webhooks:manage`.
      operationId: webhooksList
      responses:
        '200':
          description: Webhook list
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          nullable: true
                        url:
                          type: string
                          format: uri
                        secret_prefix:
                          type: string
                          example: whsec_ab12
                        events:
                          type: array
                          items:
                            type: string
                        filters:
                          properties:
                            call_status:
                              type: array
                              items:
                                type: string
                              example:
                              - missed_call
                              - no_answer
                            project_ids:
                              type: array
                              items:
                                type: integer
                              example:
                              - 456
                              - 789
                          type: object
                          nullable: true
                        is_active:
                          type: boolean
                        last_delivered_at:
                          type: string
                          format: date-time
                          nullable: true
                        consecutive_failures:
                          description: Consecutive failed delivery attempts, retries included. Reset to 0 by any successful delivery; at 10 the webhook is auto-disabled.
                          type: integer
                          example: 0
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                      type: object
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope webhooks:manage or license open_api_advanced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
    post:
      tags:
      - Webhooks
      summary: Create webhook
      description: 'Registers an endpoint URL to receive Comdesk events. Payloads are sent with an HMAC-SHA256 signature in the `X-Comdesk-Signature: sha256=<hex>` header. The exact body Comdesk will POST to your endpoint is defined by the **WebhookPayload** schema (see the Schemas section at the bottom of this page). Requires scope `webhooks:manage` and license `open_api_advanced`.'
      operationId: webhooksCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
              - url
              - events
              properties:
                url:
                  description: Webhook endpoint URL. Must be HTTPS — http:// URLs are rejected (400). Must also resolve to a public address (SSRF-protected).
                  type: string
                  format: uri
                  example: https://hooks.example.com/comdesk
                events:
                  description: Event types to subscribe to. call.started=call initiated, call.completed=call ended (answered), call.missed=no answer, call.voicemail=voicemail recording finished, customer.created / customer.updated=customer registered or updated, transcription.completed=speech-to-text finished, summary.completed=AI summary finished. call.failed and ivr.trigger are accepted for registration but have no producer yet (reserved values).
                  type: array
                  items:
                    type: string
                    enum:
                    - call.started
                    - call.completed
                    - call.missed
                    - call.voicemail
                    - call.failed
                    - customer.created
                    - customer.updated
                    - transcription.completed
                    - summary.completed
                    - ivr.trigger
                  example:
                  - call.completed
                  - call.missed
                filters:
                  description: REGISTRATION ONLY — filters are stored/validated for shape but NOT yet applied at delivery time; all subscribed events are delivered regardless. Filter values (call_status / project_ids) are not yet checked for existence. Delivery-time filtering is tracked separately.
                  properties:
                    call_status:
                      type: array
                      items:
                        type: string
                      example:
                      - missed_call
                      - no_answer
                    project_ids:
                      type: array
                      items:
                        type: integer
                      example:
                      - 456
                      - 789
                  type: object
                  nullable: true
                is_enabled:
                  type: boolean
                  example: true
                name:
                  type: string
                  example: Slack Notification — Missed Calls
                  nullable: true
              type: object
      responses:
        '201':
          description: Webhook created successfully
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: Slack Notification
                        nullable: true
                      url:
                        type: string
                        format: uri
                      secret:
                        description: HMAC secret for X-Comdesk-Signature verification. Only shown on creation.
                        type: string
                        example: whsec_xxx
                      secret_prefix:
                        description: First 12 chars of the secret for identification.
                        type: string
                        example: whsec_ab12
                      events:
                        type: array
                        items:
                          type: string
                      filters:
                        properties:
                          call_status:
                            type: array
                            items:
                              type: string
                            example:
                            - missed_call
                            - no_answer
                          project_ids:
                            type: array
                            items:
                              type: integer
                            example:
                            - 456
                            - 789
                        type: object
                        nullable: true
                      is_active:
                        type: boolean
                      created_at:
                        type: string
                        format: date-time
                      message:
                        type: string
                        example: Store this secret now. It cannot be retrieved later.
                    type: object
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope webhooks:manage or license open_api_advanced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid URL or empty events array
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
      x-acceptance-criteria:
      - ✅ Client can register a URL endpoint to receive specific events (call.completed, call.missed, etc.)
      - ⚠️ Client can register call_status / project_ids filters — REGISTRATION ONLY. Delivery-time filtering is NOT yet applied (every subscribed event is still delivered regardless of filters); tracked as a separate ticket.
      - ✅ Payload is delivered with HMAC-SHA256 signature in the X-Comdesk-Signature header
      - ✅ Payload includes event_id (UUID v4) and timestamp (ISO8601, e.g. 2026-07-15T18:47:14+09:00) for replay protection
      - 🔒 Requires scope webhooks:manage
      - 🔒 Requires license open_api_advanced
  /api/v1/webhooks/{webhookId}:
    get:
      tags:
      - Webhooks
      summary: Get webhook detail
      description: Returns detailed information for a single webhook. Requires scope `webhooks:manage`.
      operationId: webhooksShow
      parameters:
      - name: webhookId
        in: path
        description: Webhook ID
        required: true
        schema:
          type: integer
          example: 1
      responses:
        '200':
          description: Webhook detail
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        nullable: true
                      url:
                        type: string
                        format: uri
                      secret_prefix:
                        type: string
                        example: whsec_ab12
                      events:
                        type: array
                        items:
                          type: string
                      filters:
                        properties:
                          call_status:
                            type: array
                            items:
                              type: string
                            example:
                            - missed_call
                            - no_answer
                          project_ids:
                            type: array
                            items:
                              type: integer
                            example:
                            - 456
                            - 789
                        type: object
                        nullable: true
                      is_active:
                        type: boolean
                      last_delivered_at:
                        type: string
                        format: date-time
                        nullable: true
                      consecutive_failures:
                        description: Consecutive failed delivery attempts, retries included. Reset to 0 by any successful delivery; at 10 the webhook is auto-disabled.
                        type: integer
                        example: 0
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
                    type: object
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope webhooks:manage or license open_api_advanced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
    put:
      tags:
      - Webhooks
      summary: Update webhook
      description: Updates an existing webhook. Requires scope `webhooks:manage`.
      operationId: webhooksUpdate
      parameters:
      - name: webhookId
        in: path
        description: Webhook ID
        required: true
        schema:
          type: integer
          example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  nullable: true
                url:
                  description: Webhook endpoint URL. Must be HTTPS — http:// URLs are rejected (400). Must also resolve to a public address (SSRF-protected).
                  type: string
                  format: uri
                  nullable: true
                events:
                  type: array
                  items:
                    type: string
                    enum:
                    - call.started
                    - call.completed
                    - call.missed
                    - call.voicemail
                    - call.failed
                    - customer.created
                    - customer.updated
                    - transcription.completed
                    - summary.completed
                    - ivr.trigger
                  nullable: true
                filters:
                  description: REGISTRATION ONLY — filters are stored/validated for shape but NOT yet applied at delivery time; all subscribed events are delivered regardless. Filter values (call_status / project_ids) are not yet checked for existence. Delivery-time filtering is tracked separately.
                  properties:
                    call_status:
                      type: array
                      items:
                        type: string
                      example:
                      - missed_call
                      - no_answer
                    project_ids:
                      type: array
                      items:
                        type: integer
                      example:
                      - 456
                      - 789
                  type: object
                  nullable: true
                is_active:
                  type: boolean
                  nullable: true
              type: object
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        nullable: true
                      url:
                        type: string
                        format: uri
                      secret_prefix:
                        type: string
                        example: whsec_ab12
                      events:
                        type: array
                        items:
                          type: string
                      filters:
                        properties:
                          call_status:
                            type: array
                            items:
                              type: string
                            example:
                            - missed_call
                            - no_answer
                          project_ids:
                            type: array
                            items:
                              type: integer
                            example:
                            - 456
                            - 789
                        type: object
                        nullable: true
                      is_active:
                        type: boolean
                      last_delivered_at:
                        type: string
                        format: date-time
                        nullable: true
                      consecutive_failures:
                        description: Consecutive failed delivery attempts, retries included. Reset to 0 by any successful delivery; at 10 the webhook is auto-disabled.
                        type: integer
                        example: 0
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
                    type: object
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope webhooks:manage or license open_api_advanced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Webhooks
      summary: Delete webhook
      description: Permanently deletes a webhook. Requires scope `webhooks:manage`.
      operationId: webhooksDestroy
      parameters:
      - name: webhookId
        in: path
        description: Webhook ID
        required: true
        schema:
          type: integer
          example: 1
      responses:
        '204':
          description: Webhook deleted
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope webhooks:manage or license open_api_advanced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
  /api/v1/webhooks/{webhookId}/test:
    post:
      tags:
      - Webhooks
      summary: Test webhook connection
      description: Sends a test payload to a registered webhook and reports the result. Requires scope `webhooks:manage`.
      operationId: webhooksTest
      parameters:
      - name: webhookId
        in: path
        description: Webhook ID
        required: true
        schema:
          type: integer
          example: 1
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      success:
                        type: boolean
                        example: true
                      http_status:
                        type: integer
                        example: 200
                      response_time_ms:
                        type: integer
                        example: 142
                    type: object
                type: object
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient scope webhooks:manage or license open_api_advanced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - BearerAuth: []
components:
  schemas:
    ErrorResponse:
      required:
      - error
      properties:
        error:
          required:
          - code
          - message
          properties:
            code:
              type: string
              example: invalid_api_key
            message:
              type: string
              example: Missing or invalid API key.
            details:
              example: null
              nullable: true
          type: object
      type: object
    ValidationErrorResponse:
      properties:
        error:
          properties:
            code:
              type: string
              example: validation_error
            message:
              type: string
              example: Validation failed.
            details:
              type: object
              example:
                phone_number:
                - The phone number field is required.
          type: object
      type: object
    PaginationMeta:
      properties:
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 50
        total:
          type: integer
          example: 128
        last_page:
          type: integer
          example: 3
      type: object
    SpeechAnalysis:
      properties:
        talk_ratio:
          description: Agent talk ratio (0–1)
          type: number
          format: float
          example: 0.45
        speech_speed:
          description: Speech speed (chars/sec)
          type: number
          format: float
          example: 5.2
        filler_count:
          description: Number of filler words
          type: integer
          example: 3
        silence_ratio:
          description: Silence ratio
          type: number
          format: float
          example: 0.08
        overlap_count:
          description: Number of speech overlaps
          type: integer
          example: 2
        question_count:
          description: Number of questions asked
          type: integer
          example: 8
        rally_count:
          description: Number of turn exchanges
          type: integer
          example: 15
      type: object
      nullable: true
    CallHistoryItem:
      properties:
        call_id:
          description: Call history ID. Same integer accepted by GET /api/v1/calls/{callId}.
          type: integer
          format: int64
          example: 150193036
        call_type:
          description: Call type. `voicemail` covers both inbound calls recorded by the tenant's own answering machine and outbound calls answered by the counterpart's voicemail.
          type: string
          example: outbound
          enum:
          - outbound
          - inbound
          - outbound_no_answer
          - inbound_no_answer
          - internal
          - voicemail
          - transfer
          - sms_inbound
          - sms_outbound
          - ivr_outbound
        status:
          type: string
          example: connected
        phone_number:
          type: string
          example: 09012345678
        caller_number:
          type: string
          example: 0312345678
        staff_id:
          type: integer
          example: 123
        staff_name:
          type: string
          example: Tanaka Taro
        project_id:
          type: integer
          example: 456
        project_name:
          type: string
          example: Sales Project A
        customer_id:
          type: integer
          example: 78901
          nullable: true
        customer_name:
          type: string
          example: Test Corporation
          nullable: true
        started_at:
          type: string
          format: date-time
          example: '2026-03-10T10:00:00+09:00'
        ended_at:
          type: string
          format: date-time
          nullable: true
        duration_seconds:
          type: integer
          example: 330
        memo:
          type: string
          example: Appointment secured
          nullable: true
        recall_at:
          type: string
          format: date-time
          nullable: true
        transcription:
          description: Speech-to-text transcription
          type: string
          nullable: true
        summary:
          description: AI-generated call summary
          type: string
          nullable: true
        speech_analysis:
          oneOf:
          - $ref: '#/components/schemas/SpeechAnalysis'
          nullable: true
        recording_url:
          type: string
          format: uri
          nullable: true
        external_id:
          type: string
          example: SF-LEAD-001
          nullable: true
      type: object
    WebhookPayload:
      description: "Request body Comdesk POSTs to a registered webhook URL.\n *\n * **Transport**\n * - `POST <your registered url>` with `Content-Type: application/json`. Only `https://` URLs are delivered to.\n * - `X-Comdesk-Signature: sha256=<hex>` — HMAC-SHA256 of the **raw request body bytes**, keyed with the webhook secret shown once at creation.\n * - `X-Comdesk-Event: <event>` — same value as the `event` property.\n * - `X-Comdesk-Delivery: <event_id>` — same value as the `event_id` property (not sent for `webhook.test`).\n * - `User-Agent: Comdesk-Webhook/1.0` (`Comdesk-Webhook-Tester/1.0` for `webhook.test`).\n *\n * **Verifying the signature** — compute the HMAC over the raw body exactly as received. Re-serialising the parsed JSON produces a different byte sequence and the comparison will fail.\n *\n * **Delivery semantics** — up to 6 attempts with backoff 1m → 5m → 30m → 2h → 24h; 4xx/5xx and timeouts (10s) are retried. Retries reuse the same `event_id`, so consumers must be\
        \ idempotent on it.\n *\n * **Auto-disable** — after **10 consecutive failed attempts** the webhook is set to `is_active: false` and stops receiving events until you re-enable it with `PUT /api/v1/webhooks/{webhookId}`. The counter is `consecutive_failures`: every failed *attempt* increments it (retries included, not one per event), and any single successful delivery resets it to 0. Because the threshold is above the 6-attempt ceiling, one unreachable event can never disable a webhook on its own — it takes roughly two consecutive events that exhaust their retries.\n *\n * **`data` shape** is determined by `event` — see the per-event schemas below."
      required:
      - event_id
      - timestamp
      - event
      - data
      properties:
        event_id:
          description: UUID v4. Stable across retries of the same event — use it for replay/duplicate protection.
          type: string
          format: uuid
          example: 9b7a1f2c-3d4e-4f50-9a61-2b3c4d5e6f70
        timestamp:
          description: ISO8601 with offset, in the Comdesk app timezone (Asia/Tokyo, +09:00). Fixed at dispatch time, not at retry time.
          type: string
          format: date-time
          example: '2026-07-15T18:47:14+09:00'
        event:
          description: '`webhook.test` is only produced by `POST /api/v1/webhooks/{webhookId}/test` and cannot be subscribed to. `call.failed` and `ivr.trigger` can be registered but have no producer at present (reserved values).'
          type: string
          example: call.completed
          enum:
          - call.started
          - call.completed
          - call.missed
          - call.voicemail
          - call.failed
          - customer.created
          - customer.updated
          - transcription.completed
          - summary.completed
          - ivr.trigger
          - webhook.test
        data:
          description: 'Event-specific body — pick the variant by `event`, not by shape (`anyOf`, not `oneOf`: WebhookCallStartedData is a strict subset of WebhookCallEndedData, so a call-ended payload legitimately matches both). call.started → WebhookCallStartedData; call.completed / call.missed / call.voicemail → WebhookCallEndedData; customer.created → WebhookCustomerCreatedData; customer.updated → WebhookCustomerUpdatedData; transcription.completed → WebhookTranscriptionCompletedData; summary.completed → WebhookSummaryCompletedData; ivr.trigger → WebhookIvrTriggerData; call.failed → WebhookCallFailedData; webhook.test → WebhookTestData.'
          anyOf:
          - $ref: '#/components/schemas/WebhookCallStartedData'
          - $ref: '#/components/schemas/WebhookCallEndedData'
          - $ref: '#/components/schemas/WebhookCustomerCreatedData'
          - $ref: '#/components/schemas/WebhookCustomerUpdatedData'
          - $ref: '#/components/schemas/WebhookTranscriptionCompletedData'
          - $ref: '#/components/schemas/WebhookSummaryCompletedData'
          - $ref: '#/components/schemas/WebhookIvrTriggerData'
          - $ref: '#/components/schemas/WebhookCallFailedData'
          - $ref: '#/components/schemas/WebhookTestData'
      type: object
    WebhookCallStartedData:
      description: Sent when a call record is created (call initiated). Produced by the CRM call-create path.
      required:
      - call_id
      properties:
        call_id:
          description: Call history ID (integer).
          type: integer
          format: int64
          example: 1234567
        phone_number:
          type: string
          example: 09012345678
          nullable: true
        staff_id:
          type: integer
          example: 123
          nullable: true
        project_id:
          type: integer
          example: 456
          nullable: true
        started_at:
          type: string
          format: date-time
          example: '2026-07-15T18:42:01+09:00'
          nullable: true
      type: object
    WebhookCallEndedData:
      description: Sent when the PBX reports the call ended. `call.completed` = answered, `call.missed` = not answered, `call.voicemail` = ended on an answering machine recording.
      required:
      - call_id
      properties:
        call_id:
          type: integer
          format: int64
          example: 1234567
        phone_number:
          type: string
          example: 09012345678
          nullable: true
        staff_id:
          type: integer
          example: 123
          nullable: true
        project_id:
          type: integer
          example: 456
          nullable: true
        started_at:
          type: string
          format: date-time
          example: '2026-07-15T18:42:01+09:00'
          nullable: true
        duration_seconds:
          description: Talk duration in seconds. `null` when the call never connected.
          type: integer
          example: 330
          nullable: true
      type: object
    WebhookCustomerCreatedData:
      description: Sent on `POST /api/v1/customers` when a new record is created.
      required:
      - customer_id
      properties:
        customer_id:
          type: integer
          format: int64
          example: 78901
        name:
          type: string
          example: Test Corporation
          nullable: true
        tel1:
          type: string
          example: 0312345678
          nullable: true
        project_id:
          type: integer
          example: 456
          nullable: true
        external_id:
          type: string
          example: SF-LEAD-001
          nullable: true
      type: object
    WebhookCustomerUpdatedData:
      description: Sent on `PATCH /api/v1/customers/{customerId}` when an existing record is updated.
      required:
      - customer_id
      properties:
        customer_id:
          type: integer
          format: int64
          example: 78901
        changed_fields:
          description: Names of the request fields that were submitted for update.
          type: array
          items:
            type: string
          example:
          - name
          - tel1
        external_id:
          type: string
          example: SF-LEAD-001
          nullable: true
      type: object
    WebhookTranscriptionCompletedData:
      required:
      - call_id
      - transcription
      properties:
        call_id:
          type: integer
          format: int64
          example: 1234567
        transcription:
          description: Speech-to-text result, truncated to the first 5000 characters. Fetch `GET /api/v1/calls/{callId}` for the full text.
          type: string
          example: Hello, this is Tanaka from Comdesk…
          maxLength: 5000
      type: object
    WebhookSummaryCompletedData:
      required:
      - call_id
      - summary
      properties:
        call_id:
          type: integer
          format: int64
          example: 1234567
        summary:
          description: AI-generated summary, truncated to the first 5000 characters.
          type: string
          example: Customer requested a quote and asked for a callback next week.
          maxLength: 5000
      type: object
    WebhookIvrTriggerData:
      description: Sent when an IVR session has been accepted and queued. No producer at present, so this event is not delivered (reserved value).
      required:
      - session_id
      - call_id
      - phone_number
      - project_id
      - initiated_at
      properties:
        session_id:
          description: '`ivr_` + call_id.'
          type: string
          example: ivr_1234567
        call_id:
          type: integer
          format: int64
          example: 1234567
        phone_number:
          type: string
          example: 09012345678
        project_id:
          type: integer
          example: 456
        queue_id:
          type: integer
          example: 12
          nullable: true
        external_id:
          type: string
          example: SF-LEAD-001
          nullable: true
        initiated_at:
          type: string
          format: date-time
          example: '2026-07-15T18:42:01+09:00'
      type: object
    WebhookCallFailedData:
      description: Sent when an accepted call could not actually be placed — the request was answered but the PBX never dialled. No producer at present, so this event is not delivered (reserved value).
      required:
      - call_id
      - reason
      - failed_at
      properties:
        call_id:
          type: integer
          format: int64
          example: 1234567
        customer_id:
          type: integer
          format: int64
          example: 78901
          nullable: true
        reason:
          description: staff_not_dialable = the staff member has no dialable PBX user; pbx_unconfigured = no dial endpoint configured for this environment; pbx_host_unknown = the staff member\'s PBX host could not be resolved; pbx_rejected = the PBX refused the call; pbx_unreachable = the PBX could not be reached after retries.
          type: string
          example: pbx_rejected
          enum:
          - staff_not_dialable
          - pbx_unconfigured
          - pbx_host_unknown
          - pbx_rejected
          - pbx_unreachable
        failed_at:
          type: string
          format: date-time
          example: '2026-07-15T18:42:09+09:00'
      type: object
    WebhookTestData:
      description: Only produced by `POST /api/v1/webhooks/{webhookId}/test`. This event cannot be subscribed to and is never retried.
      required:
      - webhook_id
      - message
      properties:
        webhook_id:
          type: integer
          example: 1
        message:
          type: string
          example: This is a test event from Comdesk.
      type: object
  securitySchemes:
    BearerAuth:
      type: http
      description: API key from the api_keys table. Enter without the 'Bearer ' prefix.
      scheme: bearer
tags:
- name: Calls
  description: Calls
- name: Customers
  description: Customers
- name: Reports
  description: Reports
- name: Webhooks
  description: Webhooks
